<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('inicio') }}">Biblioteca</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('inicio') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('reservar') }}">Reservar Livros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('minhas_reservas') }}">Minhas Reservas</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('weather.weather') }}">Tempo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('dashboard') }}">Exibir Grafico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('cotacoes.cotacoes') }}">Cotações</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          {% endif %}
          {% if current_user.is_authenticated and current_user.is_admin %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('novo') }}">Cadastrar Livro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('cadastro') }}">Cadastro de Usuários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('dashboard') }}">Cadastro de Usuários</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </body>
</html>

