<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <title>Minhas Reservas</title>
  </head>
  <body>
    {% include '_navbar.html' %}
    <div class="container mt-5">
      <h2>Minhas Reservas</h2>
      <ul class="list-group">
        {% for reserva in reservas %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Livro ID: {{ reserva.book_id }} - Data da Reserva: {{ reserva.date_reserved }}
          <!-- Aqui você pode adicionar mais detalhes, como o título do livro, usando uma consulta adicional -->
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>