<!DOCTYPE html>
<html>
  <head>
    <!-- Charset utf-8 para corrigir problemas de caracter especiais -->
    <meta charset="utf-8" />
    <title>Biblioteca</title>
    <!-- Importação da Biblioteca CSS do Vanilla -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.js"></script>
    <!-- Importação da Biblioteca CSS do Vanilla -->

    <!-- Estilo usando CDN para o bootstrap-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <!-- Estilo usando CSS interno -->
    <style>
      footer {
        text-align: center;
      }
    </style>
  </head>
  <body>
    {% include '_navbar.html' %}
    <div class="container">
      <div class="page-header">
        <h1>{{ titulo }}</h1>
      </div>
      <a class="url" href="/curriculo">Currículo</a><br />
      <table class="table table-striped table-hover">
        <thead class="thead-default">
          <tr>
            <th>Livro</th>
            <th>Autor</th>
            <th>Categoria</th>
            <th>Ano</th>
            <th>Editora</th>
            <th>Ativo</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for livro in lista_de_livros %}
          <tr>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.autor }}</td>
            <td>{{ livro.categoria }}</td>
            <td>{{ livro.ano }}</td>
            <td>{{ livro.editora }}</td>
            <td>{{ livro.ativo }}</td>
            <td>
                <a href="{{ url_for('editar', id=livro.id) }}" class="btn btn-warning btn-sm">Editar</a>
                <td>
                    <a href="{{ url_for('deletar', id=livro.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza de que deseja deletar este livro?');">Deletar</a>
                             
                  </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <footer>
      <p>&copy; 2024 SENAI. Todos os direitos reservados.</p>
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var tabela = document.querySelector(".table");
        var dataTable = new DataTable(tabela, {
          searchable: true, // Habilita a pesquisa
          sortable: true, // Habilita a ordenação
          perPage: 5, // Define 5 linhas por página
          columns: [
            { select: 0, sort: "desc" }, // Ordena a primeira coluna em ordem ascendente
          ],
          labels: {
            placeholder: "Pesquisar...", // Texto do placeholder da barra de pesquisa
            perPage: "{select} resultados por página", // Texto da seleção de itens por página
            noRows: "Nenhum resultado encontrado", // Texto quando não há resultados
            info: "Mostrando {start} a {end} de {rows} resultados", // Texto de informações
          },
        });
      });
    </script>
    <script type="module">
      import Typebot from "https://cdn.jsdelivr.net/npm/@typebot.io/js@0.3/dist/web.js";

      Typebot.initBubble({
        typebot: "treinamento-a-9-hc4l8iw",
        theme: {
          button: { backgroundColor: "#0042DA", size: "large" },
          chatWindow: { backgroundColor: "#fff" },
        },
      });
    </script>
  </body>
</html>

